/* Global Layout Set-up */
*{
  box-sizing: border-box;
}
body{
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto',sans-serif;
}
img{
  max-width: 100%;
  padding: 2.5em 0 .5em;
}
span{
  padding-left: 1em;
}
.container{
  max-width: 90%;
  margin: 0 auto;
  padding:1em 0 2.5em;
}
.clearfix{
  content: "";
  display: table;
  clear: both;
}
.main-nav a{
  display: block;
  list-style: none;
  text-decoration: none;
  color: black;
  padding: .75em;
}
.main-nav li{
  list-style: none;
  padding-bottom: .25em;
}
.main-nav li a:hover{
  text-decoration: underline;
}
.profile-pic{
  max-width: 70%;
  padding-top: 4em;
}
.bottom-nav{
  margin: 0 auto;
  width: 90%;
}
.nav-name{
  float: left;
  font-size: 1em;
}
.to-top{
  float: right;
  font-size: 1em;
}
.to-top a{
  display: block;
  list-style: none;
  text-decoration: none;
  color: black;
}
.nav-list{
  display: none;
}

@media (min-width:768px){

  .main-nav{
    display: inline-block;
    margin: 0 auto;
  }
  .main-nav li{
    float: left;
  }
  .profile{
    padding-top: 3em;
  }
  .profile-pic{
    float: left;
    width: 35%;
    padding: 0;
  }
  .intro{
    float: right;
    width: 60%;
    margin: 0;
    padding: 0 1em;
    text-align: left;
  }
  .media{
    float: left;
    width: 50%;
    padding: .5em;
  }
  .nav-name{
    font-size: 1.25em;
  }
  .to-top{
    display: none;
  }
  .nav-list{
    display: inline-block;
    float: right;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
  }
  .nav-list a{
    list-style: none;
    text-decoration: none;
    color: black;
    padding: .75em;
  }
  .nav-list li{
    float: left;
    list-style: none;
    padding-bottom: .25em;
  }
  .nav-list li a:hover{
    text-decoration: underline;
  }

  @media (min-width: 1024px){
    .name{
      float: left;
      margin: 0 auto;
    }
    .main-nav{
      float: right;
    }
    .media{
      width: 33%
    }
  }
}
